
.containerBMI {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar {
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    height: 80%;
    /* background-color: #282c34; */
    background: radial-gradient(circle, rgb(38, 120, 38), rgb(145, 30, 30));
    margin: auto auto;
    margin-top: 20%;
}
.ball {
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(215, 215, 3);
    position: relative;
    top: 20%;
}
.upper-limit {
    position: relative;
    /* top: -100; */
    left: -10;
}